$white: #fff;

$page-bkgnd: #000;
$dark: #221e18;
$lighter: #3e392f;
$light: #ddd;
$white: #efefef;
$gold-accent: rgb(201, 148, 62);
$red-accent: rgb(245, 126, 126);
$blue-accent: rgb(128, 124, 236);
$green-accent: rgb(201, 148, 62);
$yellow-accent: rgb(234, 240, 144);
$fade: rgb(186, 186, 186);
$heading-bknd: rgb(30, 120, 229);

$font-content: 'Arial', serif;

$max-width: 1200px;

$breakpoint-extra-big: 1200px;
$breakpoint-tablet: 800px;
$breakpoint-extra-m: 1000px;
$breakpoint-mobile-big: 650px;
$breakpoint-mobile: 480px;

$transition-duration: 0.5s;

@mixin clickable {
  cursor: pointer;
  transition: opacity $transition-duration ease;
  &:hover {
    opacity: 70%;
    @media screen and (hover: none) {
      opacity: 100%;
    }
  }
}

@mixin button {
  @include clickable;
  padding: 5px 10px;
  background-color: yellowgreen;
  border-radius: 5px;
  font-size: 14px;
  color: blueviolet;
  text-transform: uppercase;
}
