.car {
  padding: 15px 0 0 15px;
  display: flex;
  flex-direction: column;
  border-bottom: 3px dashed white;
  gap: 20px;
  &_state_edited {
    background-color: rgba(95, 91, 91, 0.5);
  }
  &__heading {
    display: flex;
    gap: 10px;
  }
  &__title {
    font-size: 16px;
  }
  &__main {
    display: flex;
    gap: 10px;
  }
  &__nav {
    display: flex;
    gap: 5px;
  }
  &__btn {
    @include clickable;
    width: 32px;
    height: 32px;
    font-size: 1.5em;
    color: green;
    border: 2px solid green;
    border-radius: 3px;
    @media screen and (max-width: $breakpoint-mobile-big) {
      width: 24px;
      height: 24px;
    }
    &_style_red {
      color: rgb(159, 39, 9);
      border-color: rgb(159, 39, 9);
    }
    &_state_inactive {
      color: rgb(80, 75, 74);
      border-color: rgb(80, 75, 74);
      pointer-events: none;
    }
  }
  &__track {
    width: 100%;
    position: relative;
  }

  &__car {
    position: relative;
    width: 100px;
    height: 100px;
    margin-left: -10px;
    margin-bottom: -30px;
    @media screen and (max-width: $breakpoint-mobile-big) {
      width: 60px;
      height: 60px;
      margin-bottom: -20px;
      margin-left: 0;
    }
  }
  &__finish-flag {
    transform: scale(2);
    position: absolute;
    right: 120px;
    bottom: 25px;
    @media screen and (max-width: $breakpoint-mobile-big) {
      transform: scale(1.5);
      right: 60px;
      bottom: 10px;
    }
  }

  @media screen and (max-width: $breakpoint-mobile-big) {
    padding: 10px 0 0 10px;
  }
}
