.section {
  margin-top: 30px;
  display: flex;
  flex-shrink: 1;
  flex-direction: column;
  gap: 40px;
  &__pagination-icon {
    width: 32px;
    height: 32px;
  }
  &__title {
    font-size: 2rem;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 30px;
    &_type_winner {
      gap: 10px;
    }
  }
  &__row {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  &__page {
    font-size: 1.5rem;
  }
  &__list-heading {
    padding: 5px 0;
    background-color: $heading-bknd;
    display: grid;
    grid-template-columns: repeat(5, 100px);
    gap: 10px;
  }
}
