.winner {
  display: grid;
  grid-template-columns: repeat(5, 150px);
  &__text {
    font-size: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    &_clickable {
      @include clickable;
    }
  }
  &__car-icon {
    max-height: 40px;
    max-width: 70px;
  }
  &__heading-item {
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
  }
  &__sort-icon {
    width: 24px;
    height: 24px;
    &_state_hidden {
      visibility: hidden;
    }
    &_state_rotated {
      transform: rotate(180deg);
    }
  }
  @media screen and (max-width: $breakpoint-tablet) {
    grid-template-columns: repeat(5, 100px);
  }
  @media screen and (max-width: $breakpoint-mobile) {
    grid-template-columns: repeat(5, 60px);
  }
}
