.btn {
  @include button;
  &_inactive {
    pointer-events: none;
    background-color: $fade;
    opacity: 60%;
  }
  &_style_red {
    background-color: $red-accent;
    color: rgb(62, 9, 111);
  }
  &_style_yellow {
    color: rgb(62, 9, 111);
    background-color: $yellow-accent;
  }
  &_style_blue {
    background-color: $blue-accent;
    color: rgb(62, 9, 111);
  }
  &_style_transparent {
    background-color: transparent;
  }
}
