.control {
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 15px;

  &__edit {
    display: flex;
    align-items: center;
    gap: 15px;
  }
  &__input {
    margin: 0;
    padding: 0;
    height: 26px;
    &_type_text {
      padding: 5px 10px;
      font-size: 1rem;
      background-color: white;
    }
    @media screen and (max-width: $breakpoint-mobile-big) {
      height: 20px;
      max-width: 200px;
    }
    @media screen and (max-width: $breakpoint-mobile) {
      height: 20px;
      max-width: 100px;
    }
  }

  &__btns {
    display: flex;
    width: 100%;
    gap: 15px;
  }
}
